.caixa1{
    background-color: rgb(148, 219, 243);
    width: 300px;
    height: 300px;
    float:left;
  }
  .caixa2{
    background-color:rgb(180, 155, 240);
    width: 300px;
    height: 300px;
    float:left;
  }
  .caixa3{
    background-color: rgb(233, 150, 229);
    width: 300px;
    height: 300px;
    float:left;
  }
  .contenidor{
    width: 900px;
    height: 900px;
    border:#000000 5px dashed;
  }

